<title>{{title}}</title>
<h1>murrrrr</h1>
<p>Welcome to {{title}}</p>
<input type="text" name="name">
<button type="submit" name="submit">submit</button>
{{#if condition}}
<h1>+condition is {{condition}}</h1>
{{else}}
<h1>-condition is {{condition}}</h1>
{{/if}}
{{#each testArray}}
<p>{{this}}</p>
{{/each}}
